

.p-wrapper{
    padding-top: 3rem;
}


.pcontainer{
    gap: 2rem;
}

.p-center{
    gap: 2rem;
    transition: all 300ms ease-out ;
}
.p-center:hover{
    background:  #dce5e4;
    width: 40%;
    height: 20%;
     cursor: zoom-in;
     transform: scale(1.1);
    position: relative;
    transition: all 100ms ease-out ;

     
} 



.p-left{
    gap: 2rem;
    
    }
 
.p-image{
    width: 100%;
      height: 30%;
} 
.p-image:hover{
    cursor: pointer;
}



.p-inner{
    gap: 0.5rem;
}




@media ( max-width: 840px){

.p-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.p-left{
    gap: 1.5rem;
padding-left: 20%;
}
.p-center{
    padding-top: 2rem;
}








}